---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";

const pageTitle = "Home Page";
---

<Layout title={pageTitle}>
  <main>
    <Navigation />

    <h1>{pageTitle}</h1>
  </main>
</Layout>
