---
import Layout from "../layouts/Layout.astro";
import Greeting from "../components/Greeting";

const pageTitle = "Home Page";
---

<Layout title={pageTitle}>
  <main>
    <h1>{pageTitle}</h1>
    <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
  </main>
</Layout>
